trigger:
 branches:
   include:
     - main


pool: 
  name: "Infra-Runners-pool"
  demands:
    - agent.name -equals kmaster

stages:
  - stage: Scan
    displayName: scan with 
    jobs:
      - job: deploymentJob
        displayName: Delpoyment web Applicaton Job
        steps:
        - task: KubernetesManifest@1
          inputs:
            action: 'deploy'
            connectionType: 'kubernetesServiceConnection'
            kubernetesServiceConnection: 'aks-service-connection'
            namespace: 'default'
            manifests: 'manifests/*.yaml'
        
    