trigger:
 branches:
   include:
     - main


variables:
  SONAR_TOKEN: $(SONAR_TOKEN)
  SONAR_PROJECT_KEY: pramod-2014_cloudsurge-web
  SONAR_ORG: my-organization-key

pool: 
  name: "devPool"
  demands:
   - Agent.Name -equals homlep7480



stages:
  - stage: Scan
    displayName: "scan with sonqube cloud"
    jobs:
      - job: Scand
        displayName: "scan with sonqube cloud"
        steps:
        - task: SonarCloudPrepare@4
          inputs:
            SonarQube: 'sonarqube-service-connection'
            organization: '$(SONAR_ORG)'
            scannerMode: 'dotnet'
            projectKey: '$(SONAR_PROJECT_KEY)'
            projectName: 'cloudsurge-web'

  - stage: 'Build'
    displayName: 'Build Stage'
    jobs:
      - job: 'Build'
        displayName: 'install dependencies'
        steps:
        - task: 'Npm@1'
          inputs:
            command: 'install'
            workingDir: '$(System.DefaultWorkingDirectory)/cloudsurge-web'
      - job: npmRun
        displayName: 'npm run job'
        steps:
        - task: Npm@1
          inputs:
            command: 'custom'
            workingDir: '''$(System.DefaultWorkingDirectory)/cloudsurge-web'''
            customCommand: 'npm run build'
        
    