trigger:
 branches:
   include:
     - main


pool: 
  name: "Infra-Runners-pool"
  demands:
    - agent.name -equals kmaster

stages:
  - stage: Scan
    displayName: "scan with sonqube cloud"
    jobs:
      - job: Scand
        displayName: "scan with sonqube cloud"
        steps:
        -
    